@model DoctorAppointment.Controllers.MVC.ViewModels.BookAppointmentVm

<form asp-action="Book" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="DoctorId" />

    <div>
        <label>Full Name</label>
        <input asp-for="PatientFullName" class="form-control" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="PatientEmail" class="form-control" />
    </div>

    <div>
        <label>Appointment Date</label>
        <input asp-for="AppointmentDate" type="datetime-local" class="form-control" />
    </div>

    <button type="submit">Book</button>
</form>