@{
    ViewData["Title"] = "Home";
}

<h1>Doctor Appointment System</h1>

<nav>
    <ul>
        <li><a href="/AdminMvc/Doctors">Manage Doctors</a></li>
        <li><a href="/PatientMvc/Doctors">Book Appointments</a></li>
        <li><a href="/ReportsMvc/Index?doctorId=1">Doctor Reports</a></li>
    </ul>
</nav>
